<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="foot-logo mb-3">
                    <img src="../../../../assets/Img/logo/DimaondBazzarlogo1.png" alt="DimaondBazzarlogo" width="150">
                </div>
                <div class="foot-cont text-dark">
                    <p>Dedicated to excellence and transparency in the diamond industry, offering quality and trust you
                        can rely on.</p>
                </div>
                <!-- <div class="socail-icon mt-4">
                    <div class="insta mb-3">
                        <a href="">
                            <button class="btn text-white">
                                <i class="bi bi-instagram"></i>
                            </button>
                        </a>
                        <a href="">
                            <button class="btn text-white">
                                <i class="bi bi-facebook"></i>
                            </button>
                        </a>
                        <a href="">
                            <button class="btn text-white">
                                <i class="bi bi-twitter-x"></i>
                            </button>
                        </a>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="compn">
                    <div class="title">
                        <h3>Company</h3>
                    </div>
                    <div class="comp-list">
                        <ul class="navbar-nav">
                            <li class="py-0">
                                <a  style="cursor: pointer;" class="nav-link text-dark">Home</a>
                            </li>
                            <li class="py-0">
                                <a class="nav-link text-dark" style="cursor: pointer;"
                                    (click)="scrollToSection('AboutSection')">About Us</a>
                            </li>
                            <li class="py-0">
                                <a class="nav-link text-dark" style="cursor: pointer;"
                                    (click)="scrollToSection('FeatureSection')">Features</a>
                            </li>
                            <li class="py-0">
                                <a style="cursor: pointer;" class="nav-link text-dark"
                                    (click)="scrollToSection('ScreenSection')">Screens</a>
                            </li>
                            <li class="py-0">
                                <a style="cursor: pointer;" class="nav-link text-dark"
                                    (click)="scrollToSection('TestimonialSection')">Testimonial</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="compn">
                    <div class="title">
                        <h3>Legal</h3>
                    </div>
                    <div class="comp-list">
                        <ul class="ps-0">
                            <li><a class="text-dark" routerLink="/privacy" target="_blank">Privacy Policy</a></li>
                            <li><a class="text-dark" routerLink="/terms" target="_blank">Terms Of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>